body{
	padding-top:100px;
    background: #ccc;
}
/*************NAVBAR ******************/

.navbar-brand{
	background-color: rgb(74,170,165);
	color: #fff;
	line-height: 0;
	font-size: 32px;
	padding:40px;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{
	background-color: rgb(74,170,165)
}

.navbar-default .navbar-brand{
	color:#fff;
}

.navbar-right{
	margin-top: 15px;
}

/*******************************************/

/*Main Content Section*/

.left-content{
    padding: 40px 30px 40px 30px;
    border: 1px solid rgb(74,170,165);
    line-height: 30px;
    margin: 0;
    /*display: inline-block;*/
    /*float: left;*/
    background-color: #fff;
}

.section-heading{
    color: rgb(74,170,165);
    font-size: 28px;
    border-bottom: 3px solid rgb(74,170,165);
    margin-bottom: 20px;
}

.image {
    margin-right:10px;
    height: 150px;
    width: 200px;
}

/*********************/

/*SIDEBAR SECTION*/
.connect-heading{
    color: rgb(74,170,165);
    font-size: 24px;
    border-bottom: 3px solid rgb(74,170,165);
    margin-bottom: 20px;
}
.connect-image{
    height: 50px;
    width: 50px;
}
.right-content{
    padding:40px 30px;
    border: 1px solid rgb(74,170,165);
    background-color:#fff;
    margin-bottom: 200px;
}

/*CONTACT PAGE*/
.contact-form{
    margin-bottom: 20px;
}
.btn-settings{
    padding-left:20px;
    padding-right: 20px;
    background:#4AAAA5;
    color:#fff;
}

/*PORTFOLIO PAGE*/
.img-container{
    margin-bottom: 20px;
    position: relative;
}

.img-text{
    position: absolute;
    text-align: center;
    top: 120px;
    /*left: 0;*/
    width:91.7%;
    background-color: rgb(74,170,165);
    font-size: 20px;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px; 

}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height:100px;
    background-color: #666;
    border-top: 5px solid rgb(74,170,165);

}
.footer-text{
    text-align: center;
    color:rgb(194,204,204);
    line-height: 100px;
}