body{
	padding-top:100px;
    background: #ccc;
}
/*************NAVBAR ******************/

.navbar-brand{
	background-color: rgb(74,170,165);
	color: #fff;
	line-height: 0;
	font-size: 32px;
	padding:40px;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{
	background-color: rgb(74,170,165)
}

.navbar-default .navbar-brand{
	color:#fff;
}

.navbar-right{
	margin-top: 15px;
}

/*******************************************/

.left-content{
    padding: 40px 30px 40px 30px;
    border: 1px solid rgb(74,170,165);
    line-height: 30px;
    margin: 0;
    display: inline-block;
    float: left;
    background-color: #fff;
}

.section-heading{
    color: rgb(74,170,165);
    font-size: 28px;
    border-bottom: 3px solid rgb(74,170,165);
    margin-bottom: 20px;
}

.image {
    margin-right: 15px;*/
    float: left;
    height: 150px;
    width: 200px;
}